$mainColor: #15023a;
$mobileWidth: 768px;
$padWidth: 810px;

@mixin mobile {
	@media screen and (max-width: #{$mobileWidth}) {
		@content;
	}
}

@mixin ipad {
	@media screen and (max-width: #{$padWidth}) {
		@content;
	}
}
